<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/gallery/css/style.css" />
    <title>Gallery</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-transpa justify-content-between ">
        <a class="navbar-brand" href="#">SH Sikkens Painter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-content-end " id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <div class="social soci-mobile">
              <a href="https://www.facebook.com/ewebdesigns/" target="blank" class="fa fa-facebook-square"></a>
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
              <i class="fa fa-github" aria-hidden="true"></i>
            </div>
          </ul>
        </div>
      </nav>
    <div class="container">
        <h1>Gallery</h1>
        <p>Dit is de gallery</p>
    </div>    
</body>
</html>